@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000; /* Layer 0: The Void */
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.manuscript-text {
  text-indent: 4rem;
  line-height: 1.9;
  text-align: justify;
}
